<h3>Display all tasks</h3>

<table class="all_elements">
  <% @all_tasks.each do |task| %>
    <tr>
      <td><%= link_to "#{task.description}", task_path(task) %></td>
      <td>Comlpeted:</td>
      <% if task.completed %>
        <td>Yes</td>
      <% else %>
        <td>No</td>
      <% end %>
    </tr>
  <% end %>
</table>
