
<h3><%= @task.description %></h3>

<table class="whole_board">
  <tr class="progress_line"></tr>
</table>
<div class="time_travel_buttons">
  <button class="time_travel_back">back</button>
  <button class="time_travel_next">next</button>
</div>
<div class="task_log_container">
  <h3>Task Log</h3>
</div>